/ .product
/   h2 = link_to product.name, product_path(product)
/   .image_container = image_tag product.image.url(:medium)
/   .product_price = product.price

.row
  .col-xs-6.col-xs-offset-3
      = render "product_row", product: product, order_item: @order_item